
<div class="flex-properties">
  <h2>Ejemplos de flex</h2>
  <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">una guía para entender flexbox</a>
  <div class="flex">
    <div class="item order_3">1</div>
    <div class="item order_2">2</div>
    <div class="item order_1">3</div>
    <div class="item order_4">4</div>
    <div class="item order_5">5</div>
    <div class="item order_6">6</div>
    <div class="item order_7">7</div>
  </div>
</div>
<div class="sticky">
  elemento con property position: sticky
</div>
<div class="overriding-selectors">
  <h2>Ejemplos sobreescritura de estilos</h2>
  <p>La idea de este punto es entender la prioridad o relevancia de los selectores</p>
  <div class="position-property">
    <h2>Ejemplos de posición</h2>
    <div class="static">
      elemento con property position: static
    </div>
    <div class="fixed">
      elemento con property position: fixed
    </div>
    <div class="relative">
      elemento con property position: relative
    </div>
    <div class="absolute">
      elemento con property position: absolute
      <p>sin contenedor</p>
    </div>
    <div class="relative">
      elemento con property position: relative
      <div class="absolute">
        elemento con property position: absolute
        <p>con contenedor relative</p>
      </div>
    </div>
  </div>
</div>

<div class="ejemplo_cajita">
  <input id="sample_input" type="text">
  <label for="sample_input">este es el label</label>
</div>

<router-outlet></router-outlet>